<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<li class="nav-item dropdown" th:fragment="notifications">
    <a class="nav-link nav-icon-hover" href="javascript:void(0)" id="drop2"
       data-bs-toggle="dropdown" aria-expanded="false">
        <i class="ti ti-bell-ringing"></i>
        <div class="notification bg-primary rounded-circle"></div>
    </a>
    <div class="dropdown-menu content-dd dropdown-menu-end dropdown-menu-animate-up"
         aria-labelledby="drop2">
        <div class="d-flex align-items-center justify-content-between py-3 px-7">
            <h5 class="mb-0 fs-5 fw-semibold">Notificaciones</h5>
        </div>
        <div class="message-body" data-simplebar>
            <div id="notificaciones-container"></div>
        </div>


    </div>
</li>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Realizar la solicitud AJAX a /notificaciones
        cargarNotificaciones();
    });

    function cargarNotificaciones() {
    fetch('/notificaciones')
    .then(response => response.json())
    .then(notificaciones => {
        // Procesar las notificaciones
        const container = document.getElementById('notificaciones-container');
        notificaciones.forEach(asunto => {
            // Crear un elemento div para cada notificación
            const div = document.createElement('div');
            // Agregar el asunto de la notificación como texto
            const asuntoElement = document.createElement('p');
            asuntoElement.textContent = 'Asunto: ' + asunto;
            div.appendChild(asuntoElement);
            // Agregar el div al contenedor
            container.appendChild(div);
        });
    })
    .catch(error => console.error('Error al cargar las notificaciones:', error));
}
</script>

</body>
</html>