<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<li class="nav-item dropdown" th:fragment="notifications">
    <a class="nav-link nav-icon-hover" href="javascript:void(0)" id="drop2"
       data-bs-toggle="dropdown" aria-expanded="false">
        <i class="ti ti-bell-ringing"></i>
        <div class="notification bg-primary rounded-circle"></div>
    </a>
    <div class="dropdown-menu content-dd dropdown-menu-end dropdown-menu-animate-up"
         aria-labelledby="drop2">
        <div class="d-flex align-items-center justify-content-between py-3 px-7">
            <h5 class="mb-0 fs-5 fw-semibold">Notificaciones</h5>
        </div>
        <div class="message-body" data-simplebar>
            <div id="notificaciones-container"></div>
        </div>

        <div class="py-6 px-7 mb-1">
            <button class="btn btn-outline-primary w-100">Ver todas</button>
        </div>




    </div>
</li>



</body>
</html>