<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ControlFlotas</title>
  <link rel="shortcut icon" type="image/png" th:href="@{/images/logos/favicon.png}" />
  <link rel="stylesheet" th:href="@{/css/styles.min.css}" />
</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <div
      class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
      <div class="d-flex align-items-center justify-content-center w-100">
        <div class="row justify-content-center w-100">
          <div class="col-md-8 col-lg-6 col-xxl-3">
            <div class="card mb-0">
              <div class="card-body">
                <a href="./index.html" class="text-nowrap logo-img text-center d-block py-3 w-100">
                  <img th:src="@{/images/logos/logo-flotas.png}" width="180" alt="">
                </a>
                <p class="text-center">Iniciar Sesion</p>
                <form method="POST" th:action="@{/login}">
                  <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" placeholder="Username" name="username" id="username" required/>
                  </div>
                  <div class="mb-4">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" placeholder="Password" name="password" id="password" required>
                  </div>
                  <!--<div class="d-flex align-items-center justify-content-between mb-4">
                    <a class="text-primary fw-bold" href="#">Recuperar contraseña</a>
                  </div>
                  -->
                  <input type="submit" value="Login"  class="btn btn-primary btn-block" />
                </form>
              </div>
              <div class="card-footer">
                <div>
                  <div class="alert alert-warning" th:if="${error != null }" th:text="${error}"></div><br/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="@{/libs/jquery/dist/jquery.min.js}"></script>
  <script src="@{/libs/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
</body>

</html>