<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head th:replace="layout/layout :: head">Head</head>

<body>

<!-- sect1 -->
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">

  <aside th:replace="layout/layout :: menu-izquierdo"></aside>

  <!-- sect2 -->
  <div class="body-wrapper">

    <aside th:replace="layout/layout :: header"></aside>

    <!-- sect3 -->
    <div class="container-fluid">

      <!-- contenido -->
      <div class="container-fluid">
        <!--  Row 1 -->

        <div class="row">

          <div class="col-lg-6">
            <div class="card">
              <div class="mb-5" th:replace="layout/layout :: notifications"></div>
              <div class="px-4 py-3 border-bottom">
                <h5 class="card-title fw-semibold mb-0" th:text="${titulo}">Cargar nuevo vehiculo</h5>
              </div>
              <form th:action="@{/vehicles/nuevo}" th:object="${vehiculo}" method="post">
              <div class="card-body p-4">
                <div class="mb-4">
                  <label class="form-label fw-semibold">Selecciona un conductor:</label>
                  <select id="conductorid" name="conductorid" class="form-select" aria-label="Seleccionar opción">
                    <option value="0" selected>Sin conductor asignado</option>
                    <option th:each="conductor : ${conductores}"  th:value="${conductor.idConductor}"  th:text="${conductor.nombreApellido}"></option>
                  </select>
                </div>
                <div class="mb-4">
                  <label class="form-label fw-semibold">Tipo</label>
                  <select class="form-select" aria-label="Seleccionar opción" id="tipo" th:field="*{tipo}" required>
                    <option value="camion">Camion</option>
                    <option value="camioneta">Camioneta</option>
                    <option value="automovil">Automovil</option>
                    <option value="agricola">Maquina Agricola</option>
                    <option value="semi">Semi</option>
                    <option value="jaula">Jaula</option>
                    <option value="carreton">Carretón</option>
                  </select>
                </div>
                <div class="mb-4">
                  <label for="patente" class="form-label fw-semibold">Patente</label>
                  <input type="text" class="form-control mayusculas" name="patente" id="patente" placeholder="Patente del vehiculo"  th:field="*{patente}">
                </div>
                <div class="mb-4">
                  <label for="marca" class="form-label fw-semibold">Marca</label>
                  <input type="text" class="form-control" id="marca" placeholder="Marca/Version del vehiculo"  th:field="*{marca}" required>
                </div>
                <div class="mb-4">
                  <label for="anio" class="form-label fw-semibold">Modelo</label>
                  <input type="number" class="form-control" placeholder="Modelo/Año del vehiculo" id="anio" th:field="*{anio}" required>
                </div>
                <div class="mb-4">
                  <label for="km" class="form-label fw-semibold">Kilometraje actual</label>
                  <input type="number" class="form-control" id="km" placeholder="Kilometros actual del vehiculo"  th:field="*{km}" required>
                </div>
                <div class="mb-4">
                  <label class="form-label fw-semibold">Estado</label>
                  <select class="form-select" aria-label="Seleccionar opción" id="estado" th:field="*{estado}">
                    <option value="ACTIVO" selected>Activo</option>
                    <option value="INACTIVO">Inactivo</option>
                  </select>
                </div>
                <div class="mb-4">
                  <label for="ubicacion" class="form-label fw-semibold">Ubicacion</label>
                  <input type="text" class="form-control" id="ubicacion" placeholder="Ubicacion actual del vehiculo" th:field="*{ubicacion}">
                </div>
                <div class="mb-4">
                  <label for="vencimientoVtv" class="form-label fw-semibold">Proximo Vencimiento VTV</label>
                  <input type="date" class="form-control" id="vencimientoVtv" placeholder="Proximo vencimiento VTV" th:field="*{vencimientoVtv}">
                </div>
                <div class="mb-4">
                  <label for="vencimientoRuta" class="form-label fw-semibold">Proximo Vencimiento Ruta</label>
                  <input type="date" class="form-control" id="vencimientoRuta" placeholder="Proximo vencimiento RUTA" th:field="*{vencimientoRuta}">
                </div>
                <div class="mb-4">
                  <label for="vencimientoSeguro" class="form-label fw-semibold">Proximo Vencimiento del Seguro</label>
                  <input type="date" class="form-control" id="vencimientoSeguro" placeholder="Proximo Vencimiento del Seguro" th:field="*{vencimientoSeguro}">
                </div>

                <!-- Sección dinámica para cubiertas -->
                <div class="mb-4">
                  <div id="cubiertasContainer">
                    <h3>Cubiertas</h3>
                    <button type="button" id="agregarCubierta" class="btn btn-secondary mb-2">Agregar Cubierta</button>
                    <!-- Contenedor para las cubiertas -->
                  </div>
                </div>

                <BUtton class="btn btn-primary">Enviar</BUtton>
              </div>
              </form>
            </div>
          </div>

      </div>

      <!-- fin contenido -->

      <footer th:replace="layout/layout :: footer"></footer>
      <!-- fin sect3 -->
    </div>
    <!-- fin sect2 -->
  </div>

  <!-- fin sect1 -->
</div>

  <script th:src="@{/libs/jquery/dist/jquery.min.js}"></script>
  <script th:src="@{/libs/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/js/sidebarmenu.js}"></script>
  <script th:src="@{/js/app.min.js}"></script>
  <script th:src="@{/libs/apexcharts/dist/apexcharts.min.js}"></script>
  <script th:src="@{/libs/simplebar/dist/simplebar.js}"></script>
  <script th:src="@{/js/dashboard.js}"></script>
  <script th:src="@{/js/utils/notifications.js}"></script>
  <script th:src="@{/js/utils/my_functions.js}"></script>



</body>
</html>