<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head th:replace="layout/layout :: head">Head</head>

<body>

<!-- sect1 -->
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">

  <aside th:replace="layout/layout :: menu-izquierdo"></aside>

  <!-- sect2 -->
  <div class="body-wrapper">

    <aside th:replace="layout/layout :: header"></aside>

    <!-- sect3 -->
    <div class="container-fluid">

      <!-- contenido -->
      <div class="container-fluid">
        <!--  Row 1 -->

        <div class="row">
          <div class="col-lg-12">

            <div class="w-100">
              <div class="chat-container h-100 w-100">
                <div class="chat-box-inner-part h-100">
                  <div class="chatting-box app-email-chatting-box">
                    <div
                            class="p-9 py-3 border-bottom chat-meta-user d-flex align-items-center justify-content-between">
                      <h5 class="text-dark mb-0 fw-semibold" th:text="'Detalle de vehiculo: ' + ${ vehiculo.patente }"></h5>
                      <ul class="list-unstyled mb-0 d-flex align-items-center">
                        <li class="position-relative" data-bs-toggle="tooltip" data-bs-placement="top"
                            data-bs-title="Edit">
                          <a class="d-block text-dark px-2 fs-5 bg-hover-primary nav-icon-hover position-relative z-index-5"
                             href="javascript:void(0)">
                            <i class="ti ti-pencil"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                    <div class="position-relative overflow-hidden">
                      <div class="position-relative">
                        <div class="chat-box p-9" style="height: calc(100vh - 128px)" data-simplebar="init">
                          <div class="simplebar-wrapper" style="margin: -20px;">
                            <div class="simplebar-height-auto-observer-wrapper">
                              <div class="simplebar-height-auto-observer"></div>
                            </div>
                            <div class="simplebar-mask">
                              <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                                <div class="simplebar-content-wrapper" tabindex="0" role="region"
                                     aria-label="scrollable content" style="height: 100%; overflow: hidden scroll;">
                                  <div class="simplebar-content" style="padding: 20px;">
                                    <div class="chat-list chat active-chat" data-user-id="1">
                                      <div class="row">
                                        <div class="col-4 mb-7">
                                          <p class="mb-1 fs-2">Tipo:</p>
                                          <h6 class="fw-semibold mb-0" th:text="${#strings.capitalize(vehiculo.tipo)}"></h6>
                                        </div>
                                        <div class="col-8 mb-7">
                                          <p class="mb-1 fs-2">Marca/Version - Modelo</p>
                                          <h6 class="fw-semibold mb-0" th:text="${#strings.capitalize(vehiculo.marca + ', Modelo ' + vehiculo.anio)}"></h6>
                                        </div>
                                        <div class="col-12 mb-9">
                                          <p class="mb-1 fs-2">Km al ultimo service:</p>
                                          <h6 class="fw-semibold mb-0" th:text="${vehiculo.km}"></h6>
                                        </div>
                                        <div class="col-4 mb-7">
                                          <p class="mb-1 fs-2">Ubicacion</p>
                                          <h6 class="fw-semibold mb-0" th:text="${#strings.capitalize(vehiculo.ubicacion)}"></h6>
                                        </div>
                                        <div class="col-8 mb-7">
                                          <p class="mb-1 fs-2">Responsable</p>
                                          <h6 class="fw-semibold mb-0" th:text="'Sin asignar'"></h6>
                                        </div>
                                      </div>
                                      <div class="border-bottom pb-7 mb-4">
                                        <div th:if="${vehiculo.mantenimientos != null and !vehiculo.mantenimientos.empty}">
                                          <div class="card card-body">
                                            <div class="table-responsive">
                                              <span><h6>Mantenimientos programados</h6></span>
                                              <table class="table search-table align-middle text-nowrap">
                                                <thead class="header-item">
                                                <th>Tipo</th>
                                                <th>Descripción</th>
                                                <th>Fecha inicio</th>
                                                <th>Action</th>
                                                </thead>
                                                <tbody>
                                                <!-- start row -->
                                                <tr class="search-items" th:each="mant: ${vehiculo.mantenimientos}">
                                                  <td>
                                                    <div class="user-meta-info">
                                                      <h6 class="user-name mb-0" th:text="${mant.tipo}"></h6>
                                                    </div>
                                                  </td>
                                                  <td>
                                                    <span class="usr-email-addr" th:text="${mant.descripcion}"></span>
                                                  </td>
                                                  <td>
                                                    <span class="usr-location" th:text="${mant.created_at}"></span>
                                                  </td>
                                                  <td>
                                                    <div class="action-btn">
                                                      <a th:href="@{/vehicles/view-vehicles/} + ${vehiculo.idVehiculo}" class="text-info edit">
                                                        <i class="ti ti-eye fs-5"></i>
                                                      </a>
                                                    </div>
                                                  </td>
                                                </tr>
                                                <!-- end row -->
                                                <!-- start row -->

                                                </tbody>
                                              </table>
                                            </div>
                                          </div>
                                          <!-- fin tabla -->
                                        </div>

                                        <div class="text-center p-2" th:if="${vehiculo.mantenimientos == null or vehiculo.mantenimientos.empty}">
                                          <span>No hay mantenimientos programados</span>
                                        </div>
                                      </div>
                                      <div class="d-flex align-items-center gap-2">
                                        <a th:href="@{/maintenance/new/} + ${vehiculo.idVehiculo}" class="btn btn-primary fs-2">Nueva OT</a>
                                      </div>
                                    </div>


            </div>
        </div>

        <!-- fin contenido -->

        <footer th:replace="layout/layout :: footer"></footer>
        <!-- fin sect3 -->
      </div>
      <!-- fin sect2 -->
    </div>

    <!-- fin sect1 -->
  </div>

  <statics th:replace="layout/layout :: statics"></statics>

</body>
</html>