<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head th:replace="layout/layout :: head">Head</head>

<body>

<!-- sect1 -->
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">

  <aside th:replace="layout/layout :: menu-izquierdo"></aside>

  <!-- sect2 -->
  <div class="body-wrapper">

    <aside th:replace="layout/layout :: header"></aside>

    <!-- sect3 -->
    <!-- contenido -->
    <div class="container-fluid">
      <!--  Row 1 -->

      <div class="row">
        <div class="col-lg-12">
          <div class="w-100">
            <div class="chat-container h-100 w-100">
              <div class="chat-box-inner-part h-100">
                <div class="chatting-box app-email-chatting-box">
                  <div
                          class="p-9 py-3 border-bottom chat-meta-user d-flex align-items-center justify-content-between">
                    <h5 class="text-dark mb-0 fw-semibold" th:text="'Detalle de OT: ' + ${ mantenimiento.idMantenimiento } + ', Estado: ' + ${mantenimiento.estado}"></h5>
                    <ul class="list-unstyled mb-0 d-flex align-items-center">
                      <li class="position-relative" data-bs-toggle="tooltip" data-bs-placement="top"
                          data-bs-title="Edit">
                        <a class="d-block text-dark px-2 fs-5 bg-hover-primary nav-icon-hover position-relative z-index-5"
                           href="javascript:void(0)">
                          <i class="ti ti-pencil"></i>
                        </a>
                      </li>
                    </ul>
                  </div>

                  <div class="position-relative overflow-hidden">
                    <div class="position-relative">
                      <div class="chat-box p-9" style="height: calc(100vh - 128px)" data-simplebar="init">
                        <div class="simplebar-wrapper" style="margin: -20px;">
                          <div class="simplebar-height-auto-observer-wrapper">
                            <div class="simplebar-height-auto-observer"></div>
                          </div>
                          <div class="simplebar-mask">
                            <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                              <div class="simplebar-content-wrapper" tabindex="0" role="region"
                                   aria-label="scrollable content" style="height: 100%; overflow: hidden scroll;">
                                <div class="simplebar-content" style="padding: 20px;">
                                  <div class="chat-list chat active-chat" data-user-id="1">
                                    <!-- Informacion sobre el vehicyulo -->
                                    <div class="row">

                                      <div class="col-12 mb-3">
                                        <label for="patente" class="form-label fs-2">Patente:</label>
                                        <input type="text" class="form-control" id="patente" th:value="${#strings.capitalize(mantenimiento.vehiculo.patente)}" readonly>
                                      </div>


                                      <div class="col-12 mb-3">
                                        <label for="responsable" class="form-label fs-2">Responsable:</label>
                                        <input type="text" class="form-control" id="responsable" th:value="${#strings.capitalize(mantenimiento.conductor.nombreApellido)}" readonly>
                                      </div>

                                      <div class="col-12 mb-3">
                                        <label for="start" class="form-label fs-2">Ingreso:</label>
                                        <input type="text" class="form-control" id="start" th:value="${#dates.format(mantenimiento.start, 'dd-MM-yyyy')}" readonly>
                                      </div>

                                      <div class="col-12 mb-3">
                                        <label for="fechaRealizacion" class="form-label fs-2">Fecha Realizacion:</label>
                                        <input type="text" class="form-control" id="fechaRealizacion" th:value="${#dates.format(mantenimiento.fecha_realizacion, 'dd-MM-yyyy')}" readonly>
                                      </div>

                                      <div class="col-12 mb-3">
                                        <label for="categoriaAveria" class="form-label fs-2">Zona averia:</label>
                                        <input type="text" class="form-control" id="categoriaAveria" th:value="${#strings.capitalize(mantenimiento.categoriaAveria)}" readonly>
                                      </div>

                                      <div class="col-12 mb-3">
                                        <label for="averiaprincipal" class="form-label fs-2">Averia:</label>
                                        <input type="text" class="form-control" id="averiaprincipal" th:value="${#strings.capitalize(mantenimiento.subCategoriaAveria)}" readonly>
                                      </div>

                                      <div class="col-12 mb-3">
                                        <label for="descripcion" class="form-label fs-2">Descripcion:</label>
                                        <textarea class="form-control" id="descripcion" th:text="${#strings.capitalize(mantenimiento.text)}" readonly></textarea>
                                      </div>

                                      <div class="col-12 mb-3">
                                        <label for="costo" class="form-label fs-2">Costo:</label>
                                        <input type="number" class="form-control" id="costo" th:value="${#strings.capitalize(mantenimiento.costo)}" readonly>
                                      </div>

                                      <!-- Agrega más bloques similares para cada campo -->

                                    </div>
                                  </div>
                                </div>
                              </div>



                              <!-- fin contenido -->

                              <footer th:replace="layout/layout :: footer"></footer>
                              <!-- fin sect3 -->
                            </div>
                            <!-- fin sect2 -->
                          </div>

                          <!-- fin sect1 -->
                        </div>

                        <statics th:replace="layout/layout :: statics"></statics>



</body>
</html>